apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "fraud-detection-inference.fullname" . }}
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "fraud-detection-inference.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      {{- include "fraud-detection-inference.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "fraud-detection-inference.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: triton
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command:
        - tritonserver
        args:
        - --model-repository={{ .Values.triton.modelRepository }}
        - --exit-timeout-secs={{ .Values.triton.exitTimeoutSecs }}
        - --http-port={{ .Values.triton.httpPort }}
        - --grpc-port={{ .Values.triton.grpcPort }}
        - --metrics-port={{ .Values.triton.metricsPort }}
        ports:
        - name: http
          containerPort: {{ .Values.triton.httpPort }}
          protocol: TCP
        - name: grpc
          containerPort: {{ .Values.triton.grpcPort }}
          protocol: TCP
        - name: metrics
          containerPort: {{ .Values.triton.metricsPort }}
          protocol: TCP
        livenessProbe:
          {{- toYaml .Values.livenessProbe | nindent 10 }}
        readinessProbe:
          {{- toYaml .Values.readinessProbe | nindent 10 }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        volumeMounts:
        - name: models
          mountPath: /models
          readOnly: true
      volumes:
      - name: models
        persistentVolumeClaim:
          claimName: {{ if .Values.persistence.existingClaim }}{{ .Values.persistence.existingClaim }}{{ else }}{{ include "fraud-detection-inference.fullname" . }}-models{{ end }}
