apiVersion: v1
kind: Service
metadata:
  name: {{ include "fraud-detection-inference.fullname" . }}
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "fraud-detection-inference.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  selector:
    {{- include "fraud-detection-inference.selectorLabels" . | nindent 4 }}
  ports:
  - name: http
    port: {{ .Values.service.httpPort }}
    targetPort: http
    protocol: TCP
  - name: grpc
    port: {{ .Values.service.grpcPort }}
    targetPort: grpc
    protocol: TCP
  - name: metrics
    port: {{ .Values.service.metricsPort }}
    targetPort: metrics
    protocol: TCP
